config_opts['root'] = 'centos-stream-8-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)

config_opts['chroot_setup_cmd'] = 'groupinstall build'
config_opts['macros']['%vendor'] = 'CentOS'
config_opts['dist'] = 'el8'  # only useful for --resultdir variable subst
config_opts['releasever'] = '8'
config_opts['package_manager'] = 'dnf'
config_opts['extra_chroot_dirs'] = [ '/run/lock', ]
config_opts['bootstrap_image'] = 'quay.io/centos/centos:stream8'
config_opts['dnf_vars'] = { 'stream': '8-stream',
                            'contentdir': 'centos',
                          }
config_opts['isolation'] = 'simple'

config_opts['dnf.conf'] = """
[main]
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
install_weak_deps=0
syslog_ident=mock
syslog_device=
mdpolicy=group:primary
best=1
protected_packages=
module_platform_id=platform:el8
user_agent={{'{{'}} user_agent {{'}}'}}

[CS-Build]
name=CentOS-Stream - Buildroot
baseurl=https://kojihub.stream.centos.org/kojifiles/repos/c8s-build/latest/x86_64/
failovermethod=priority
gpgcheck=0
enabled=1
skip_if_unavailable=False
module_hotfixes=1

{% if sidetag %}

[CS-Build-Sidetag]
name=CentOS-Stream - Sidetag - Buildroot
baseurl=https://kojihub.stream.centos.org/kojifiles/repos/{{ sidetag }}/latest/x86_64/
failovermethod=priority
gpgcheck=0
enabled=1
skip_if_unavailable=False
module_hotfixes=1

{% endif %}
"""
